@import "typography";
html, body{
  height: 100%;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Cinzel', serif;
  color: #041e41;
  font-weight: 400;
  font-size: 24px;
}

body{
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

ul{
  padding-left: 0;
}

button {
  cursor: pointer;
  transition: 0.3s;
  &:hover{
    background-color: #677f07;
  }
}

select {
  cursor: pointer;
}

.button {
  margin: 5px;
}

input:checked {
  background-color: #daf275;
}